@import "normalize.css"
*
    box-sizing: border-box

html,
body
    margin: 0
    padding: 0
    font-size: 16px
    line-height: 1.4
    font-family: "Georgia", "Arial", sans-serif

a
    color: inherit
    text-decoration: none

.link
    color: #409eff
    text-decoration: none
    font-family: "Georgia", "Arial", sans-serif

.el-form-item__label
    padding: 0 14px

button
    font-size: 16px
    border: none
    border-radius: 7px
    background-color: rgb(64, 158, 255)
    color: #fff
    cursor: pointer
    font-family: "Georgia", "Arial", sans-serif
    transition: .3s ease-in-out


    &:hover
        background-color: darken(rgb(64, 158, 255), 10%)

    &:active
        background-color: darken(rgb(64, 158, 255), 20%)

input[type="number"]
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button
        -webkit-appearance: none
        appearance: none
        margin: 0

.close-button
    position: absolute
    width: 20px
    height: 20px
    cursor: pointer
    right: 35px
    top: 35px

    &::before,
    &::after
        content: ""
        position: absolute
        top: 50%
        left: 50%
        width: 12px
        height: 2px
        background-color: #fff

    &::before
        transform: translate(-50%, -50%) rotate(45deg)

    &::after
        transform: translate(-50%, -50%) rotate(-45deg)



